package {{package}};

import static org.junit.Assert.*;

import {{modelPackage}}.*;
import {{invokerPackage}}.ApiException;

import org.junit.Test;

{{#imports}}import {{import}};
{{/imports}}

import java.util.*;

{{#operations}}
public class {{classname}}Test  {
   private final {{classname}} client = new {{classname}}();

{{#operation}}
   /**
    * {{summary}}
    */
    public void test{{nickname}}() throws RuntimeException {
		
    }
{{/operation}}
}
{{/operations}}

